html
  head
    title= title
    script.
      var graphdata=!{JSON.stringify(data)};
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript', src='/scripts/index.js')
  body
    div#graph
