html
  head
    meta(charset='utf-8')
    title= title
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript', src='/scripts/index.js')
  body
    div#graphViewer
    div#graphViews
    div#graphFollowers
